apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- arr.yaml
- blog.yaml
- filebrowser.yaml
- gesturebot.yaml
- home-assistant.yaml
- jellyfin.yaml
- littlelink.yaml
- ladebugs.yaml
- vaultwarden.yaml
- trig-rush.yaml
- immich.yaml

patches:
  - target:
      group: kustomize.toolkit.fluxcd.io
      version: v1
      kind: Kustomization
    patch: |
      - op: add
        path: /spec/dependsOn
        value: 
        - name: cert-manager
        - name: metallb-ip-pool
        - name: longhorn
